@import '../../App.css';

.navbar{
    background-color: #0d0d0d !important;
    color: white;
}
.navbar a{
    background-color: #0d0d0d !important;
    color: white;
}
.navbar a:hover{
    background-color: #3d3d3d;
    color: white;
}